
<div class="horloge">
  <div class="centre"></div>
  <div class="centre-2"></div>
  <div class="indicateurs">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="aiguille-seconde">
    <div class="seconde" #secondes></div>
  </div>
  <div class="aiguille-minute">
    <div class="minute" #minutes></div>
  </div>
  <div class="aiguille-heure">
    <div class="heure" #heures></div>
  </div>
</div>
