
<div class="horloge">
  <div class="centre"></div>
  <div class="centre-2"></div>
  <div class="indicateurs">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="aiguille-seconde">
    <div class="seconde"></div>
  </div>
  <div class="aiguille-minute">
    <div class="minute"></div>
  </div>
  <div class="aiguille-heure">
    <div class="heure"></div>
  </div>
</div>
