<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
<!--  <mat-tab label="Horloge">-->
<!--    <div class="page">-->
<!--      <app-horloge2></app-horloge2>-->
<!--    </div>-->
<!--  </mat-tab>-->
  <mat-tab label="Horloge7">
    <div class="page">
      <app-horloge7 style="width: 100%"></app-horloge7>
    </div>
  </mat-tab>
  <mat-tab label="Calendrier">
    <div class="page">
      <app-calendrier></app-calendrier>
    </div>
  </mat-tab>
  <mat-tab label="Météo">
    <div class="page">
      <app-meteo style="width: 100%"></app-meteo>
    </div>
  </mat-tab>
  <mat-tab label="Bookmark">
    <div class="page">
      <app-bookmark style="width: 100%"></app-bookmark>
    </div>
  </mat-tab>

</mat-tab-group>

<!--<hr>-->

<!--<app-horloge2></app-horloge2>-->

<!--<hr>-->



<!--<hr>-->

<router-outlet></router-outlet>
