
.semaine {
  border: 3px;
  //width: 150px;
  width: 200px
}

.journee {
  border: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.no-jour {
  width: 20px;
  text-align: right;
}

.jour-semaine {
  width: 20px;
  text-align: center;
}

.nom-saint {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dimanche {
  background-color: #d5d5d5;
  .no-jour {
    color: red;
  }
  .jour-semaine {
    color: red;
  }
}

.ferier {
  color: red;
  font-weight: bold;
}

.jourActuel {
  background-color: burlywood;
}

.fin-ligne {
  margin-left: auto;
  min-width: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.no-semaine {
  color: #a4d267;
}

.vacances-scolaires {
  //top:0px;
  //right: 10px;
  //position: relative;
  //width: 2px;
  //background-color: blue;
  //margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 12px;
  min-width: 12px;
}

.zone-a {
  width: 2px;
  min-width: 2px;
  background-color: blue;
  height: 100%;
}

.zone-b {
  width: 2px;
  min-width: 2px;
  background-color: green;
  height: 100%;
}

.zone-c {
  width: 2px;
  min-width: 2px;
  background-color: red;
  height: 100%;
}

.zone-sansVacance {
  width: 2px;
  min-width: 2px;
  height: 100%;
}

.separateur-zone {
  width: 2px;
  min-width: 2px;
  height: 100%;
}
