
// semble ne pas fonctionner
@media all and (min-width: 10px) {

  .semaine {
    width: 150px;
    font-size: 10px;
  }
}

//@media screen and (max-width: 3000px) {
//
//  .semaine {
//    width: 200px;
//    font-size: 14px;
//  }
//}


.semaine {
  border: 3px;
  width: 150px;
  //width: 200px;
  min-width: 150px;
  font-size: 10px;
}

.journee {
  border: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.no-jour {
  width: 20px;
  text-align: right;
}

.jour-semaine {
  width: 20px;
  text-align: center;
}

.nom-saint {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dimanche {
  background-color: #d5d5d5;
  .no-jour {
    color: red;
  }
  .jour-semaine {
    color: red;
  }
}

.ferier {
  color: red;
  font-weight: bold;
}

.jourActuel {
  background-color: burlywood;
}

.fin-ligne {
  margin-left: auto;
  min-width: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.no-semaine {
  color: #a4d267;
}

$ligne-vacances-width: 4px;
$ligne-vacances-separateur-width: 6px;
// =3*$ligne-vacances-width+3*$ligne-vacances-separateur-width
$ligne-vacances-total-width: calc(3*$ligne-vacances-width + 3*$ligne-vacances-separateur-width);

.vacances-scolaires {
  //top:0px;
  //right: 10px;
  //position: relative;
  //width: 2px;
  //background-color: blue;
  //margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: $ligne-vacances-total-width;
  min-width: $ligne-vacances-total-width;
}

.zone-a {
  width: $ligne-vacances-width;
  min-width: $ligne-vacances-width;
  background-color: blue;
  height: 100%;
}

.zone-b {
  width: $ligne-vacances-width;
  min-width: $ligne-vacances-width;
  background-color: green;
  height: 100%;
}

.zone-c {
  width: $ligne-vacances-width;
  min-width: $ligne-vacances-width;
  background-color: red;
  height: 100%;
}

.zone-sansVacance {
  width: $ligne-vacances-width;
  min-width: $ligne-vacances-width;
  height: 100%;
}

.separateur-zone {
  width: $ligne-vacances-separateur-width;
  min-width: $ligne-vacances-separateur-width;
  height: 100%;
}
