
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.meteo-courante {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.precipitation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meteo-prochaine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meteo-prochaines-heures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.meteo-prochains-jours {
  display: flex;
  flex-direction: row;
  justify-content: center;
}




