
<div *ngIf="meteo" style="width: 100%" class="page">
  <div>

    <div class="meteo-courante" *ngIf="meteo.meteoCourante">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Météo
          </mat-panel-title>
<!--          <mat-panel-description>-->
<!--            Les précipitations-->
<!--          </mat-panel-description>-->
        </mat-expansion-panel-header>
        <div >
          <app-prevision-meteo [meteo]="meteo.meteoCourante"
                               [boutonRecharger]="true" (emitRecharger)="recharger()"
                               [afficheCoucheSoleil]="true"
                               [afficheHeureUniquement]="false"
          ></app-prevision-meteo>
        </div>
      </mat-expansion-panel>
    </div>



  </div>

  <div class="aujourd-hui">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aujourd'hui
        </mat-panel-title>
        <mat-panel-description>
          Aujourd'hui
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="meteo-jour">

        <div class="parent">

          <div class="div1">Matin</div>

          <div class="div2">Apres midi</div>

          <div class="div3">
            <img *ngIf="meteo.meteoCourante?.matin?.iconeStatut"
                 src="https://openweathermap.org/img/wn/{{meteo.meteoCourante?.matin?.iconeStatut}}@2x.png"
                 width="100px" height="100px">
          </div>

          <div class="div4">
            <img *ngIf="meteo.meteoCourante?.apresMidi?.iconeStatut"
                 src="https://openweathermap.org/img/wn/{{meteo.meteoCourante?.apresMidi?.iconeStatut}}@2x.png"
                 width="100px" height="100px">
          </div>

          <div class="div5">Temperature : min={{meteo.meteoCourante?.temperatureMin}}°  max={{meteo.meteoCourante?.temperatureMax}}°</div>


        </div>

      </div>
    </mat-expansion-panel>
  </div>

  <div class="prochains-jours">

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Prochains jours
        </mat-panel-title>
        <mat-panel-description>
          Prochains jours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>

      </div>
    </mat-expansion-panel>
  </div>

  <div class="precipitation">

    <div class="meteo-prochaines-heures" *ngIf="meteo.prochainesHeures">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Précipitations
          </mat-panel-title>
          <mat-panel-description>
            Les précipitations
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="charts">
          <canvas baseChart width="400" height="400"
                  [type]="'line'"
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend">
          </canvas>


          <canvas baseChart width="400" height="400"
                  [type]="'line'"
                  [data]="lineChartData2"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend">
          </canvas>
        </div>
      </mat-expansion-panel>
    </div>


  </div>

  <div class="meteo-prochaine">

  <div class="meteo-prochaines-heures" *ngIf="meteo.prochainesHeures">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Météo des prochaines heures
        </mat-panel-title>
        <mat-panel-description>
          C'est la météo des prochaines heures
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let meteo of meteo.prochainesHeures">
        <app-prevision-meteo [meteo]="meteo" [boutonRecharger]="false"
                             [afficheCoucheSoleil]="false"
                             [afficheHeureUniquement]="true"
        ></app-prevision-meteo>
        <mat-divider></mat-divider>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="meteo-prochains-jours" *ngIf="meteo.prochainsJours">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Météo des prochains jours
        </mat-panel-title>
        <mat-panel-description>
          C'est la météo des prochains jours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let meteo of meteo.prochainsJours">
        <app-prevision-meteo [meteo]="meteo" [boutonRecharger]="false"
                             [afficheCoucheSoleil]="false"
                             [afficheHeureUniquement]="false"
        ></app-prevision-meteo>
        <mat-divider></mat-divider>
      </div>
    </mat-expansion-panel>
  </div>

  </div>

</div>
<div *ngIf="!meteo">
  <div><button mat-button color="primary" (click)="recharger()">Recharger</button></div>
</div>
