<div class="clock">


  <div class="outer-clock-face">


    <div class="marking marking-one"></div>
    <div class="marking marking-two"></div>
    <div class="marking marking-three"></div>
    <div class="marking marking-four"></div>

    <div class="inner-clock-face">


<!--      <div class="hand hour-hand" [style.transform]="'rotate('+hourDegreesAsync()+'deg)'"></div>-->
<!--      <div class="hand min-hand" [style.transform]="'rotate('+minsDegreesAsync()+'deg)'"></div>-->
<!--      <div class="hand second-hand" [style.transform]="'rotate('+secondsDegreesAsync()+'deg)'"></div>-->

      <div class="hand hour-hand"  #heures></div>
      <div class="hand min-hand" #minutes></div>
      <div class="hand second-hand"  #secondes></div>

    </div>

  </div>


</div>
