
<div class="page">
  <div class="entete">
    <div>&nbsp;</div>
    <div class="affichageAnnee">{{anneeAffiche}}</div>
    <div class="bouton-entete">
    <div >
      <mat-button-toggle-group name="nbMois" aria-label="Nombre de mois" (valueChange)="changenbMois($event)">
        <mat-button-toggle value="trois">3</mat-button-toggle>
        <mat-button-toggle value="six">6</mat-button-toggle>
        <mat-button-toggle value="douze">12</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div><button mat-raised-button (click)="recule()">-</button><button mat-raised-button (click)="avance()">+</button></div>
    </div>
  </div>



<div class="annee">

<div class="boucleFor" *ngFor="let moisParAnnee of listeSemaineDuMois">


    <div class="titre-mois">{{moisParAnnee.nomMois}} {{moisParAnnee.annee}}</div>
    <div class="mois" *ngFor="let semaine of moisParAnnee.semaineDuMois">
        <app-calendrier-semaine *ngIf="mois" [listeSaint]="mois" [dateDebut]="semaine"
                              [listeJourFerier]="listeJourFerier"
                              [listePeriodeVacance]="listePeriodeVacances"
      ></app-calendrier-semaine>
    </div>


</div>

</div>


</div>
