
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.entete {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.affichageAnnee {
  font-size: 1.7rem;
}

.bouton-entete {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.annee {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mois {
  border: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.titre-mois {
  text-align: center;
}
