
app:
  vacances:
    #urlVacancesScolaires: https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-calendrier-scolaire/records?limit=20
    #urlVacancesScolaires: 'https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-calendrier-scolaire/records?where=start_date>="2023-01-01" and end_date<"2025-01-01" and zones in ("Zone A","Zone B","Zone C")&limit=100'
    urlVacancesScolaires: https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-calendrier-scolaire/records
    dureeCache: 6M


  repertoireDonnees: ./data

  meteo:
    #url: https://api.openweathermap.org/data/3.0/onecall?lat=${app.meteo.latitude}&lon=${app.meteo.longitude}&lang=fr&units=metric&appid=${app.meteo.apiKey}
    url: https://api.openweathermap.org/data/3.0/onecall
    apiKey:
    latitude: 43.52
    longitude: 5.44
    fichier:
    cron: '0 0 8-20 * * *'
    dureeCache: 15m


  bookmark:
    listUrl:
      -
        url: https://www.google.fr
        titre: Google
      -
        url: https://fr.wikipedia.org
        titre: Wikipedia


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      access: unrestricted
  metrics:
    tags:
      application: '${spring.application.name}'
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
      enabled: true

spring:
  application:
    name: minidashtest

logging.pattern.correlation: '[${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

spring.ai.ollama.base-url: http://localhost:11434

spring.ai.model.chat: ollama

#spring.ai.ollama.chat.options.model: llama3
#spring.ai.ollama.chat.options.model: mistral
#spring.ai.ollama.chat.options.model: llama3.1
#spring.ai.ollama.chat.options.model: gemma3:4b
#spring.ai.ollama.chat.options.model: llama3:70b
#spring.ai.ollama.chat.options.model: functiongemma:latest
spring.ai.ollama.chat.options.model:   ministral-3:14b

spring.ai.ollama.init.pull-model-strategy: when_missing
